@inherits Umbraco.Web.Mvc.UmbracoViewPage<ComponentCustomLinkBoxes>
@{ 

}

<style>

    .custom-link-boxes {
        display: flex;
        font-family: SuisseIntl;
        font-size:12px;
    }

    .legend {
        height:28px;
        width:45px;
        border: 1px solid black;
    }

</style>

<div class="custom-link-boxes twg-component">

    <div class="link-box">
        <div class="legend" style="background-color:#E6B711;">

        </div>
        <div class="link">
            <a href="/retail">RETAIL</a>
        </div>
    </div>
    <div class="link-box">
        <div class="legend" style="background-color:#007DB6;">

        </div>
        <div class="link">
            <a href="/office">OFFICE</a>
        </div>
    </div>
    <div class="link-box">
        <div class="legend" style="background-color:#F1BDD8;">

        </div>
        <div class="link">
            <a href="/residential">RESIDENTIAL</a>
        </div>
    </div>
    <div class="link-box">
        <div class="legend" style="background-color:#9D7A13;">

        </div>
        <div class="link">
            <a href="/hotel">HOTEL</a>
        </div>
    </div>

</div>