@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{

    var headline = Model.Content.GetPropertyValue("headline");
    var teamMembers = Model.Content.GetPropertyValue<IList<IPublishedContent>>("teamMembers");
}

<div class="c-team-members-container">
    
    <div class="c-headline row">@headline</div>
    
    @if (teamMembers != null && teamMembers.Any()) 
    {
    
        <div class="c-team-members flex">
        
        @foreach (var teamMember in teamMembers) 
        {
            var image = teamMember.GetPropertyValue<IPublishedContent>("image");
        
            <div 
                class="c-team-member on-click-link-url" 
                data-link-url="@teamMember.Url"
            >
                <img src="@image.Url" />
            </div>
        }
        
        </div>
    
    }
    
</div>